<?xml version="1.0" encoding="UTF-8"?>
<!-- Foundation -->
<window id="4">
	<defaultcontrol always="true">3110</defaultcontrol>
	<allowoverlay>yes</allowoverlay>
	<controls>
		<include>Backgrounds</include>
		<include>Navbar</include>
		<control type="group">
		<animation type="WindowOpen">
				<effect type="fade" start="0" end="100" time="300" />
				<effect type="zoom" start="50" end="100" center="960,540" time="300" />
			</animation>
			<animation type="WindowClose">
				<effect type="zoom" start="100" end="150" center="960,540" time="300" />
				<effect type="fade" start="100" end="0" time="300" />
			</animation>
		
		<control type="group">
			<posx>100</posx>
			<posy>140</posy>
			
			<control type="image">
				<posx>60</posx>
				<posy>-30</posy>
				<width>430</width>
				<height>900</height>
				<texture background="true" border="50">settings/panel.png</texture>
			</control>
			<control type="label">
				<posx>60</posx>
				<width>430</width>
				<posy>-20</posy>
				<font>MediumBold</font>
				<textcolor>99000000</textcolor>
				<shadowcolor>ccffffff</shadowcolor>
				<label>element . settings</label>
				<align>center</align>
			</control>
			
			<control type="list" id="3110">
				<posx>100</posx>
				<posy>75</posy>
				<width>360</width>
				<height>850</height>
				<onup>3110</onup>
				<ondown>3110</ondown>
				<viewtype label="List">list</viewtype>
				<scrolltime>200</scrolltime>
				
				<itemlayout width="360" height="69">
					<control type="image">
						<width>350</width>
						<height>66</height>
						<texture border="2">other_textures/ButtonNF.png</texture>
					</control>
					<control type="label">
						<posx>180</posx>
						<width>300</width>
						<font>SmallBold</font>
						<align>center</align>
						<label>$INFO[ListItem.Label]</label>
					</control>
				</itemlayout>

				<focusedlayout width="360" height="69">

					<control type="image">
						<width>350</width>
						<height>66</height>
						<texture border="5">other_textures/ButtonFO.png</texture>
					</control>

					<control type="label">
						<posx>180</posx>
						<width>300</width>
						<font>SmallBold</font>
						<align>center</align>
						<textcolor>White</textcolor>
						<shadowcolor>ElementGray</shadowcolor>
						<label>$INFO[ListItem.Label]</label>
					</control>

				</focusedlayout>

				<content>
					<item id="1">
						<description>Appearance</description>
						<label>480</label>
						<onclick>activatewindow(AppearanceSettings)</onclick>
					</item>
					<item id="2">
						<description>Videos</description>
						<label>3</label>
						<onclick>activatewindow(VideosSettings)</onclick>
					</item>
					<item id="3">
						<description>Music</description>
						<label>2</label>
						<onclick>activatewindow(MusicSettings)</onclick>
					</item>
					<item id="4">
						<description>Addons</description>
						<label>24001</label>
						<onclick>activatewindow(AddonBrowser)</onclick>
					</item>
					<item id="5">
						<description>Pictures</description>
						<label>1</label>
						<onclick>activatewindow(PicturesSettings)</onclick>
					</item>
					<item id="6">
						<description>Weather</description>
						<label>8</label>
						<onclick>activatewindow(WeatherSettings)</onclick>
					</item>
					<item id="7">
						<description>Network</description>
						<label>705</label>
						<onclick>activatewindow(NetworkSettings)</onclick>
					</item>
					<item id="8">
						<description>System</description>
						<label>13000</label>
						<onclick>activatewindow(SystemSettings)</onclick>
					</item>
					<item id="9">
						<description>Profiles</description>
						<label>13200</label>
						<onclick>activatewindow(Profiles)</onclick>
					</item>
					<item id="10">
						<description>System Info</description>
						<label>130</label>
						<onclick>activatewindow(7)</onclick>
					</item>
					<item id="11">
						<description>Custom Settings</description>
						<label>31063</label>
						<onclick>activatewindow(56)</onclick>
					</item>
				</content>
			</control>
		</control>
		

			
			<control type="group">
				<posx>600</posx>
				<posy>168</posy>
				<animation type="Visible">
					<effect type="fade" delay="1000" start="0" end="100" time="500" />
					<effect type="slide" delay="1000" start="0,50" end="0,0" time="500" />
				</animation>
				<animation type="Hidden">
					<effect type="fade" delay="0" start="100" end="0" time="500" />
					<effect type="slide" delay="0" start="0,0" end="0,-50" time="500" />
				</animation>
				<visible>Container(3110).Position(0)</visible>
				<control type="image">
					<posx>0</posx>
					<posy>0</posy>
					<width>1200</width>
					<height>160</height>
					<texture border="30" background="true">settings/bubble.png</texture>
				</control>
				<control type="textbox">
					<posx>60</posx>
					<posy>30</posy>
					<font>SmallSpace</font>
					<textcolor>White</textcolor>
					<align>justify</align>
					<width>1100</width>
					<height>900</height>
					<label>32000</label>
				</control>
			</control>
			
			<control type="group">
				<posx>600</posx>
				<posy>237</posy>
				<animation type="Visible">
					<effect type="fade" delay="1000" start="0" end="100" time="500" />
					<effect type="slide" delay="1000" start="0,50" end="0,0" time="500" />
				</animation>
				<animation type="Hidden">
					<effect type="fade" delay="0" start="100" end="0" time="500" />
					<effect type="slide" delay="0" start="0,0" end="0,-50" time="500" />
				</animation>
				<visible>Container(3110).Position(1)</visible>
				<control type="image">
					<posx>0</posx>
					<posy>0</posy>
					<width>1200</width>
					<height>160</height>
					<texture border="30" background="true">settings/bubble.png</texture>
				</control>
				<control type="textbox">
					<posx>60</posx>
					<posy>30</posy>
					<font>SmallSpace</font>
					<textcolor>White</textcolor>
					<align>justify</align>
					<width>1100</width>
					<height>900</height>
					<label>32001</label>
				</control>
			</control>
			
			<control type="group">
				<posx>600</posx>
				<posy>306</posy>
				<animation type="Visible">
					<effect type="fade" delay="1000" start="0" end="100" time="500" />
					<effect type="slide" delay="1000" start="0,50" end="0,0" time="500" />
				</animation>
				<animation type="Hidden">
					<effect type="fade" delay="0" start="100" end="0" time="500" />
					<effect type="slide" delay="0" start="0,0" end="0,-50" time="500" />
				</animation>
				<visible>Container(3110).Position(2)</visible>
				<control type="image">
					<posx>0</posx>
					<posy>0</posy>
					<width>1200</width>
					<height>160</height>
					<texture border="30" background="true">settings/bubble.png</texture>
				</control>
				<control type="textbox">
					<posx>60</posx>
					<posy>30</posy>
					<font>SmallSpace</font>
					<textcolor>White</textcolor>
					<align>justify</align>
					<width>1100</width>
					<height>900</height>
					<label>32002</label>
				</control>
			</control>
			
			<control type="group">
				<posx>600</posx>
				<posy>375</posy>
				<animation type="Visible">
					<effect type="fade" delay="1000" start="0" end="100" time="500" />
					<effect type="slide" delay="1000" start="0,50" end="0,0" time="500" />
				</animation>
				<animation type="Hidden">
					<effect type="fade" delay="0" start="100" end="0" time="500" />
					<effect type="slide" delay="0" start="0,0" end="0,-50" time="500" />
				</animation>
				<visible>Container(3110).Position(3)</visible>
				<control type="image">
					<posx>0</posx>
					<posy>0</posy>
					<width>1200</width>
					<height>160</height>
					<texture border="30" background="true">settings/bubble.png</texture>
				</control>
				<control type="textbox">
					<posx>60</posx>
					<posy>30</posy>
					<font>SmallSpace</font>
					<textcolor>White</textcolor>
					<align>justify</align>
					<width>1100</width>
					<height>900</height>
					<label>32003</label>
				</control>
			</control>
			
			<control type="group">
				<posx>600</posx>
				<posy>444</posy>
				<animation type="Visible">
					<effect type="fade" delay="1000" start="0" end="100" time="500" />
					<effect type="slide" delay="1000" start="0,50" end="0,0" time="500" />
				</animation>
				<animation type="Hidden">
					<effect type="fade" delay="0" start="100" end="0" time="500" />
					<effect type="slide" delay="0" start="0,0" end="0,-50" time="500" />
				</animation>
				<visible>Container(3110).Position(4)</visible>
				<control type="image">
					<posx>0</posx>
					<posy>0</posy>
					<width>1200</width>
					<height>160</height>
					<texture border="30" background="true">settings/bubble.png</texture>
				</control>
				<control type="textbox">
					<posx>60</posx>
					<posy>30</posy>
					<font>SmallSpace</font>
					<textcolor>White</textcolor>
					<align>justify</align>
					<width>1100</width>
					<height>900</height>
					<label>32004</label>
				</control>
			</control>
			
			<control type="group">
				<posx>600</posx>
				<posy>513</posy>
				<animation type="Visible">
					<effect type="fade" delay="1000" start="0" end="100" time="500" />
					<effect type="slide" delay="1000" start="0,50" end="0,0" time="500" />
				</animation>
				<animation type="Hidden">
					<effect type="fade" delay="0" start="100" end="0" time="500" />
					<effect type="slide" delay="0" start="0,0" end="0,-50" time="500" />
				</animation>
				<visible>Container(3110).Position(5)</visible>
				<control type="image">
					<posx>0</posx>
					<posy>0</posy>
					<width>1200</width>
					<height>160</height>
					<texture border="30" background="true">settings/bubble.png</texture>
				</control>
				<control type="textbox">
					<posx>60</posx>
					<posy>30</posy>
					<font>SmallSpace</font>
					<textcolor>White</textcolor>
					<align>justify</align>
					<width>1100</width>
					<height>900</height>
					<label>32005</label>
				</control>
			</control>
			
			<control type="group">
				<posx>600</posx>
				<posy>582</posy>
				<animation type="Visible">
					<effect type="fade" delay="1000" start="0" end="100" time="500" />
					<effect type="slide" delay="1000" start="0,50" end="0,0" time="500" />
				</animation>
				<animation type="Hidden">
					<effect type="fade" delay="0" start="100" end="0" time="500" />
					<effect type="slide" delay="0" start="0,0" end="0,-50" time="500" />
				</animation>
				<visible>Container(3110).Position(6)</visible>
				<control type="image">
					<posx>0</posx>
					<posy>0</posy>
					<width>1200</width>
					<height>160</height>
					<texture border="30" background="true">settings/bubble.png</texture>
				</control>
				<control type="textbox">
					<posx>60</posx>
					<posy>30</posy>
					<font>SmallSpace</font>
					<textcolor>White</textcolor>
					<align>justify</align>
					<width>1100</width>
					<height>900</height>
					<label>32006</label>
				</control>
			</control>
			
			<control type="group">
				<posx>600</posx>
				<posy>651</posy>
				<animation type="Visible">
					<effect type="fade" delay="1000" start="0" end="100" time="500" />
					<effect type="slide" delay="1000" start="0,50" end="0,0" time="500" />
				</animation>
				<animation type="Hidden">
					<effect type="fade" delay="0" start="100" end="0" time="500" />
					<effect type="slide" delay="0" start="0,0" end="0,-50" time="500" />
				</animation>
				<visible>Container(3110).Position(7)</visible>
				<control type="image">
					<posx>0</posx>
					<posy>0</posy>
					<width>1200</width>
					<height>160</height>
					<texture border="30" background="true">settings/bubble.png</texture>
				</control>
				<control type="textbox">
					<posx>60</posx>
					<posy>30</posy>
					<font>SmallSpace</font>
					<textcolor>White</textcolor>
					<align>justify</align>
					<width>1100</width>
					<height>900</height>
					<label>32007</label>
				</control>
			</control>
			
			<control type="group">
				<posx>600</posx>
				<posy>720</posy>
				<animation type="Visible">
					<effect type="fade" delay="1000" start="0" end="100" time="500" />
					<effect type="slide" delay="1000" start="0,50" end="0,0" time="500" />
				</animation>
				<animation type="Hidden">
					<effect type="fade" delay="0" start="100" end="0" time="500" />
					<effect type="slide" delay="0" start="0,0" end="0,-50" time="500" />
				</animation>
				<visible>Container(3110).Position(8)</visible>
				<control type="image">
					<posx>0</posx>
					<posy>0</posy>
					<width>1200</width>
					<height>160</height>
					<texture border="30" background="true">settings/bubble.png</texture>
				</control>
				<control type="textbox">
					<posx>60</posx>
					<posy>30</posy>
					<font>SmallSpace</font>
					<textcolor>White</textcolor>
					<align>justify</align>
					<width>1100</width>
					<height>900</height>
					<label>32008</label>
				</control>
			</control>
			
			<control type="group">
				<posx>600</posx>
				<posy>789</posy>
				<animation type="Visible">
					<effect type="fade" delay="1000" start="0" end="100" time="500" />
					<effect type="slide" delay="1000" start="0,50" end="0,0" time="500" />
				</animation>
				<animation type="Hidden">
					<effect type="fade" delay="0" start="100" end="0" time="500" />
					<effect type="slide" delay="0" start="0,0" end="0,-50" time="500" />
				</animation>
				<visible>Container(3110).Position(9)</visible>
				<control type="image">
					<posx>0</posx>
					<posy>0</posy>
					<width>1200</width>
					<height>160</height>
					<texture border="30" background="true">settings/bubble.png</texture>
				</control>
				<control type="textbox">
					<posx>60</posx>
					<posy>30</posy>
					<font>SmallSpace</font>
					<textcolor>White</textcolor>
					<align>justify</align>
					<width>1100</width>
					<height>900</height>
					<label>32009</label>
				</control>
			</control>
			
			<control type="group">
				<posx>600</posx>
				<posy>855</posy>
				<animation type="Visible">
					<effect type="fade" delay="1000" start="0" end="100" time="500" />
					<effect type="slide" delay="1000" start="0,50" end="0,0" time="500" />
				</animation>
				<animation type="Hidden">
					<effect type="fade" delay="0" start="100" end="0" time="500" />
					<effect type="slide" delay="0" start="0,0" end="0,-50" time="500" />
				</animation>
				<visible>Container(3110).Position(10)</visible>
				
				<control type="image">
					<posx>0</posx>
					<posy>0</posy>
					<width>1200</width>
					<height>160</height>
					<texture border="30" background="true">settings/bubble.png</texture>
				</control>
				<control type="textbox">
					<posx>60</posx>
					<posy>30</posy>
					<font>SmallSpace</font>
					<textcolor>White</textcolor>
					<align>justify</align>
					<width>1100</width>
					<height>900</height>
					<label>32010</label>
				</control>
			</control>

		
		</control>
		
	</controls>
</window>